[submodule "vf-event"]
	path = processing/vf-event
  url = git@github.com:ZeraGmbH/vf-event.git
  branch = master
[submodule "vf-component"]
	path = processing/vf-component
  url = git@github.com:ZeraGmbH/vf-component.git
  branch = master
[submodule "vf-logger"]
	path = processing/vf-logger
  url = git@github.com:ZeraGmbH/vf-logger.git
  branch = master
[submodule "vf-script"]
	path = processing/vf-script
  url = git@github.com:ZeraGmbH/vf-script.git
  branch = master
[submodule "vf-protobuf"]
	path = transport/vf-protobuf
  url = git@github.com:ZeraGmbH/vf-protobuf.git
  branch = design2
[submodule "xiqnet"]
  path = transport/xiqnet
	url = git@github.com:ZeraGmbH/xiqnet.git
  branch = master
[submodule "vf-net2"]
	path = transport/vf-net2
  url = git@github.com:ZeraGmbH/vf-net2.git
  branch = master
[submodule "vf-tcp"]
	path = transport/vf-tcp
  url = git@github.com:ZeraGmbH/vf-tcp.git
	branch = master
[submodule "vf-hash"]
	path = storage/vf-storage-hash
  url = git@github.com:ZeraGmbH/vf-storage-hash.git
  branch = master
[submodule "vf-qml"]
	path = api/vf-qml
  url = git@github.com:ZeraGmbH/vf-qml.git
  branch = master
[submodule "vf-helpers"]
  path = utils/helpers
  url = git@github.com:ZeraGmbH/vf-helpers.git
  branch = master
[submodule "vf-debugger"]
  path = utils/debugger
  url = git@github.com:ZeraGmbH/vf-debugger.git
  branch = master
[submodule "vf-unittest2"]
  path = utils/vf-unittest2
  url = git@github.com:ZeraGmbH/vf-unittest2.git
	branch = master
[submodule "vf-database-recorder"]
  path = utils/vf-database-recorder
  url = git@github.com:ZeraGmbH/vf-database-recorder.git
  branch = master
[submodule "vf-database-replay"]
  path = utils/vf-database-replay
  url = git@github.com:ZeraGmbH/vf-database-replay.git
  branch = master
[submodule "transport/vf-protobuf"]
  path = transport/vf-protobuf
  url = git@github.com:ZeraGmbH/vf-protobuf.git
  branch = design2
[submodule "utils/vf-crypto-bridge"]
  path = utils/vf-crypto-bridge
  url = git@github.com:ZeraGmbH/vf-crypto-bridge.git
  branch = master
[submodule "guis/vf-declarative-gui"]
  path = guis/vf-declarative-gui
  url = git@github.com:ZeraGmbH/vf-declarative-gui.git
  branch = master
[submodule "guis/zera-setup2"]
	path = guis/zera-setup2
	url = git@github.com:ZeraGmbH/zera-setup2.git
	branch = master
